<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
Hello!

<!-- Когда мы будем нажимать на эти ссылки наш браузер будет переходить-->
<!--по адресу, в данном случае "/first/goodbye" и мы будем попадать на соответствующий метод контроллера и этот-->
<!--контроллер будет отдавать нам необходимую html страницу -->
<a href="/first/goodbye">Say goodbye</a> or <a href="/exit">Exit</a>
or <a href="/first/hello?firstname=Evgeniy&lastname=Leshevich">Request with parameters</a>

<!-- th:text это атрибу который позволяет вставить текст в тэг в котором он находится (<p>) -->
<!-- ${message} - обращение к ключу message который мы написали в модели в контроллере -->
<p th:text="${message}"/>
</body>
</html>